/* greater than xs and until md */
.note-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    margin-bottom: 4em;
}

.note-card-container-gt-md{
    grid-template-columns: repeat(4, 1fr);
}

.delete-button{
    position: absolute;
    right: 0%;
    display: none;
}

.note-card:hover .delete-button{
    display: inline-block;
}

.note-card-container-xs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}
