.input {
    /* vw is width viewport for browser */
    width: calc(100vw - 2em);
    max-width: 400px;
}

::ng-deep .error-toast{
    color: #ffffff !important;
    background-color: #cc3333 !important;
}
