<div fxLayout="column" fxLayoutAlign="space-evenly center" >
  <mat-form-field class="input" appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Your Name">
  </mat-form-field>
  <mat-form-field class="input" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Your Email">
  </mat-form-field>
  <mat-form-field class="input" appearance="outline">
    <mat-label>Feedback</mat-label>
    <textarea matInput [matTextareaAutosize]="true" placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" fxFlexAlign="center">Submit</button>
</div>
